<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style/bootstrap.min.css')}}">
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <title>Document</title>
</head>

<body>
    <div class="container" style="background-color: blue;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit eaque fugit commodi quae laboriosam, odit reiciendis molestias, est possimus omnis totam? Quisquam, suscipit dolores sunt facilis totam incidunt fugit consequatur natus, veritatis nesciunt nam tempore mollitia blanditiis. Adipisci, facere vel. Deserunt odio itaque nihil nisi corrupti temporibus et alias vitae ex quibusdam sequi, voluptates praesentium, facere iste pariatur, ipsa omnis. Architecto impedit nulla sequi exercitationem adipisci quae laboriosam placeat minima minus. Quis veniam aliquid tempore, voluptas temporibus eligendi modi illo velit cum optio atque voluptatem delectus consequatur corporis, necessitatibus aut. Id, eveniet dolorem. Corporis minima assumenda quod iure, itaque optio.
    </div>
</body>

</html>